# Server Config
PORT=3001

# MongoDB Config
MONGODB_URI=mongodb+srv://zliveze:Yl58g8kULkF6cvuO@cluster0.0gw6sm4.mongodb.net/

# JWT Config
JWT_SECRET=yumin_jwt_secret_2023
JWT_EXPIRATION=48h
JWT_REFRESH_SECRET=yumin_jwt_refresh_secret_2023
JWT_REFRESH_EXPIRATION=48h

# Admin JWT Config
JWT_ADMIN_EXPIRATION=1h
JWT_ADMIN_REFRESH_EXPIRATION=1h

# Super Admin
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=super@yumin.com
SUPER_ADMIN_PASSWORD=Admin@123456
SUPER_ADMIN_PHONE=0987654321

# Mail Config
EMAIL_SERVICE=smtp
EMAIL_USER=zliveze@gmail.com
EMAIL_PASSWORD=esbt gonf pswc pdjf
EMAIL_FROM=zliveze@gmail.com

# OAuth 2.0 Configuration
GOOGLE_CLIENT_ID=758977909484-27vh1f6n25tr52d152dnrsk0o0tcdh3s.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/callback/google

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=dw2kj82vv
CLOUDINARY_API_KEY=255557424547929
CLOUDINARY_API_SECRET=C9s_zAYkVH6Ow_I-FvB_O-XfmAs

CLOUDINARY_UPLOAD_PRESET=Yumin Banner
CLOUDINARY_FOLDER_BANNER=Yumin/banner
CLOUDINARY_FOLDER_PRODUCT=Yumin/product
CLOUDINARY_FOLDER_CATEGORY=Yumin/category
CLOUDINARY_FOLDER_USER=Yumin/user
CLOUDINARY_FOLDER_BLOG=Yumin/blog

# MoMo Config
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
MOMO_API_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api
# TODO: Replace with your public tunneling URL (e.g., from ngrok or Cloudflare Tunnel)
MOMO_IPN_URL=https://8794-2001-ee0-523d-a900-2d00-69a-4d6-b98d.ngrok-free.app/api/payments/momo/ipn
MOMO_REDIRECT_URL=http://localhost:3000/payments/success

# Stripe Config
STRIPE_SECRET_KEY=sk_test_51PZjaJLJSo3FBshIILD9jhTVkdyjvLVoAAYGi3YF2pn72IEqLayndlp8sWSzgjSLCVSIPPRSO76P2KCXUggDDpd200Fv9E4ZlM
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51PZjaJLJSo3FBshIILPXihIHpMgURusiPwgG1jqIFJQH4c6yof6VujtVL90VkFWD7TfTrbxMQusO8GBWvPc9TOhd00TukdnPn5
STRIPE_WEBHOOK_SECRET=whsec_56XCDLd7UIf7LoyhKtUXyaesKYNRd0y1 # IMPORTANT: Replace this with the actual Signing Secret from your Stripe Webhook Endpoint!
STRIPE_WEBHOOK_URL=https://6e86-2001-ee0-523d-a900-4d95-124b-c833-5f6b.ngrok-free.app/api/payments/stripe/webhook